<%= link_to "New Service", new_service_path %>
<% @company.services.each do |service| %>
<ul>
  <li>
    <%= service.name %>
    <%= link_to "Delete Company Service", delete_company_service_path(@company, service), method: :delete %>
</li>
</ul>
<% end %>
