<div class="parallax-container">
  <div class="parallax">
    <img class = "responsive-img" src="/form.jpg">
  </div>
  <div class="container">
    <div class="card-panel default-primary-color form">
      <form class="primary-text-color">
      <h4>New Service</h4>
      <%= form_for @service, class: "primary-text-color", url: new_company_service_path  do |f| %>
        <%= f.text_field :name, placeholder: "Name" %>
        <%= f.text_field :category, placeholder: "Category" %>
        <%= f.submit "Submit", class: "btn waves-effect waves-light lime darken-1" %>
      <% end %>
      </form>
      </span>
    </div>
  </div>
</div>
