<div class="parallax-container">
  <div class="parallax">
    <img class = "responsive-img" src="/form.jpg">
  </div>
  <div class="col s4 form">
    <div class="card-panel default-primary-color">
      <span class="primary-text-color">
        <h3>New Service</h3>
        <%= form_for @service, url: new_company_service_path  do |f| %>
          <%= f.text_field :name, placeholder: "Name" %>
          <%= f.text_field :category, placeholder: "Category" %>
          <%= f.submit "Submit", class: "btn waves-effect waves-light lime darken-1" %>
        <% end %>
        </form>
      </span>
    </div>
  </div>
</div>
