<div class="parallax-container">
  <div class="parallax"><img class = "responsive-img" src="/form.jpg"></div>
  <div class="col s4 form">
    <div class="card-panel teal">
      <span class="white-text">
        <h1>Login</h1>
        <%= form_for @admin, url: '/login', method: 'post' do |f|  %>
          Email: <%= f.text_field :email %>
          Password: <%= f.password_field :password %>
          <%= f.submit "Submit" %>
        <% end %>
        </form>
      </span>
    </div>
  </div>
</div>
