
  <div class="parallax-container">
    <div class="parallax">

             <img class = "responsive-img" src="/back2.jpg">


      </div>
      <span class="card-title"><h2 class="header center-align">Parallax</h2>
          <p class="header center-align">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p></span>
  </div>
  <div class="section white">
    <div class="row container">

      <div class="row">

        <div class="col col s12 l4">
          <!-- Promo Content 1 goes here -->
          <span class="card-title"><h2 class="header center-align">Parallax</h2>
              <p class="header center-align">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p></span>
        </div>
        <div class="col col s12 l4">
          <!-- Promo Content 2 goes here -->
          <span class="card-title"><h2 class="header center-align">Parallax</h2>
              <p class="header center-align">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p></span>
        </div>
        <div class="col s12 l4">
          <!-- Promo Content 3 goes here -->
          <span class="card-title"><h2 class="header center-align">Parallax</h2>
              <p class="header center-align">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p></span>
        </div>




</div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img class = "responsive-img" src="/back3.jpg"></div>
      <div class="container">
        <h5 class = "center-align">Why we?</h5>
        <div class="row">

  <div class="col s6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>

<div class="col s6">
<div class="card blue-grey darken-1">
<div class="card-content white-text">
  <span class="card-title">Card Title</span>
  <p>I am a very simple card. I am good at containing small bits of information.
  I am convenient because I require little markup to use effectively.</p>
</div>
<div class="card-action">
  <a href="#">This is a link</a>
  <a href="#">This is a link</a>
</div>
</div>
</div>
</div>
</div>
  </div>



  <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
