/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize/components/color";
 $primary-color: #827717!default;
 $primary-text-color: #CDDC39 !default;
 @import 'materialize';

 .dark-primary-color    { background: #827717; }
 .default-primary-color { background: #827717; }
 .light-primary-color   { background: #CDDC39; }
 .text-primary-color    { color: #CDDC39; }
 .accent-color          { background:#F4FF81; }
 .primary-text-color    { color: #CDDC39; }
 .secondary-text-color  { color: #827717; }
 .divider-color         { border-color: #CDDC39; }

.comp-card {
  background-color: #827717
}

 input:focus {
   border-bottom: 1px solid #F4FF81;
   box-shadow: 0 1px 0 0 #827717;
 }
 .parallax-container {
   position:relative;
   background-size: cover;
   background-repeat: no-repeat;
    height: 632px;
}
.border {
    position:absolute;
    top:0px;
    left:0px;
    margin:15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    display:block;
    border:solid 7px #eeff41 ;

}

 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Stellar', sans-serif;
}

main {
  flex: 1 0 auto;
}

.parallax {
  opacity: .3;
}

.form {
  margin-top: 4%;
}

.name {
  font-family: 'Faster One', cursive;
}

.cat {
  height: 35px;
  width: 35px;
}

.carousel .carousel-item  {
width : 600px !important;
margin-top: 130px;
}

.hidden {
  display: none;
}
