
<div class="parallax-container">
  <div class="parallax">
    <img class = "responsive-img" src="/form.jpg">
  </div>
  <div class="container">
    <div class="card-panel default-primary-color form">
      <span class="primary-text-color">
Thank you for your request. We'll get back to you soon.
</form>
</span>
</div>
</div>
</div>
